/* hide native tabs while keeping window buttons and the title visible */

/* remove tabs styling */

#TabsToolbar tab[selected = true] * {
    all: unset;
}


/* Layout */ 

#TabsToolbar tab .tab-stack {
    all: unset !important;
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap !important;
    max-width: 20px !important;
    overflow: hidden !important;
}

#TabsToolbar tab .tab-content {
    max-width: calc(100vw - 300px) !important;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 800px) {
    #TabsToolbar tab .tab-content {
        max-width: calc(100vw - 170px) !important;
    }
}

#TabsToolbar tab[selected = true] {
    all: unset !important;
    display: table !important;
    margin: auto !important;
    pointer-events: none;
}

#TabsToolbar .tab-icon-image {
    position: relative !important;
    top: 2px !important;
}

.titlebar-spacer[type="post-tabs"] {
    width: 0px !important;
}

.titlebar-spacer[type="pre-tabs"] {
    width: 140px !important;
}

@media (max-width: 800px) {
    .titlebar-spacer[type="pre-tabs"] {
        width: 10px !important;
    }
}


/* hide unwanted elements */

spacer[part=overflow-start-indicator], spacer[part=overflow-end-indicator] {
    display: none !important;
}

#scrollbutton-up, #scrollbutton-down, #new-tab-button {
    display: none;
}

#tabs-newtab-button {
    display: none;
}

#TabsToolbar tab:not([selected = true]) {
    display: none;
}

#TabsToolbar .tab-background {
    display: none !important;
}

#TabsToolbar tab[selected = true] .tab-close-button {
    display: none;
}


/* force display */

#alltabs-button {
    display: -moz-box !important;
}


/* loading animation */

#TabsToolbar .tab-throbber[busy = true]::before {
    display: none;
}

#TabsToolbar tab[selected = true][busy = true] .tab-stack::before {
   content: "...";
}


/* Force Tree-Style-Tab to display as big as other menu items */

#sidebar-header {
    font-size: 1em !important;
}
